/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{	
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

:root{
	--hue: 240;
	--back: hls(var(--hue), 16%, 18%);
    --dark: #34495e;
	--light: #ffffff;
	--error: #e24d4c;
}

::-webkit-scrollbar {
    display: none;
}

body{
  background: #fff;
  color: black;
}

html {
    scrollbar-width: none;
}






body {
    padding-bottom: 50px; /* Footer'ın altında boşluk bırakmak için */
    position: relative; /* Body'nin göreli pozisyonda olması */
}


nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

nav h1, #geriGit {
	color: #fff;
    margin: 0;
}

main {
    padding: 20px;
    padding-bottom: 70px; /* Footer'ın üstünde boşluk bırakmak için */
}

.paragraf {
    margin-bottom: 20px; /* Paragraflar arasında boşluk bırakmak için */
    display: inline-block; /* Paragrafları tek satırda görüntülemek için */
    width: calc(100% - 20px); /* Paragraf genişliği - iç ve dış padding miktarları */
    padding: 10px; /* İç boşluk */
    text-align: justify; /* İçeriği sağa hizala */
}
.title h2 {
    text-transform: uppercase; /* H2 başlıklarını büyük harfe dönüştür */
	width: 60%;
}
.title{
	width: 100%;
	margin-bottom: 50px;
}
.p{
	margin-bottom: 50px;
}
.reklam {
    margin-bottom: 20px; /* Reklam alanları arasında boşluk bırakmak için */
    text-align: center; /* Reklamı ortala */
}
.img{
	text-align: center; /* Reklamı ortala */
}
.img img {
    width: 300px; /* Resim genişliği */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.a{
	text-decoration: none;
    color: #007bff;
}
.a:hover{
	text-decoration: underline;
    color: #0056b3;
}
.fa-brands{
	color: #fff;
	width: 30px;
	margin: 5px;	
}
.instagram i{
	color: #C13584;
	font-size: 20px;
}

.twitter-x svg{
	color: #fff;
	font-size: 20px;
}
.tiktok i{
	font-size: 18px;
}

.discord i{
	color: #5865f2;
	font-size: 20px;
}


body{
    min-height: 100vh; /* Sayfanın minimum yüksekliğini ekran yüksekliği kadar ayarlar */
    position: relative; /* Sayfa içeriği içinde mutlak konumlandırmayı sağlamak için */
}
footer {
	background-color: #333;
	color: #fff;
	padding: 10px 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/*====-LOADER-====*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Siyah yarı saydam bir arka plan */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Diğer öğelerin üstünde */
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.loader-container{
	background-color: #000;
}

.loader {
  position: relative;
}

.loader span {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 38px;
  letter-spacing: 5px;
}

.loader span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 0.4px #fff;
}

.loader span:nth-child(2) {
  color: #ff7f00;
  -webkit-text-stroke: 1px #ff7f00;
  animation: trendburada11 3s ease-in-out infinite;
}

@keyframes trendburada11{
  0%, 100% {
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 
     54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 
     51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
  }
}



/* 
  ##Cihaz = Masaüstü
  ##Ekran = 1281px 'den yüksek çözünürlükler için
*/

@media (min-width: 1281px) {
	
	body{
		font-size: 25px;
	}
  
}

/* 
  ##Cihaz = Laptoplar, Masaüstü
  ##Ekran = 1025px to 1280px Arası Ekranlar
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Cihaz = Tabletler, Ipad (portrait/dikey modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Cihaz = Tabletler, Ipad (landscape/yatay modda)
  ##Ekran = 768px to 1024px Arası Ekranlar
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Cihaz = Düşük Çözünürlüklü Tablet ve Mobil Ekranlar (Landscape / Yatay Modda)
  ##Ekran = 481px to 767px Arası Ekranlar
*/

@media (min-width: 481px) and (max-width: 767px) {
  
	.loader span{
	  font-size: 20px;
  }
	
}

/* 
  ##Cihaz = En Çok Tercih Edilen Mobil Boyutlar (Portrait/Dikey Modda)
  ##Ekran = 320px to 479px Arası Ekranlar
*/

@media (min-width: 320px) and (max-width: 480px) {
  
	nav h1, #geriGit{
			font-size: 17px;
	}
	nav {
		padding: 20px 25px;
	}
	.title h2{
			font-size: 20px;
	}
	.title p{
			font-size: 15px;
	}
	.paragraf{
			font-size: 16px;
	}
	
	.loader span{
	 font-size: 16px;
  }
  
}
